.item {
  list-style: none;
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  border: 1px solid gray;
}

.label {
  color: white;
}

.percentage {
  color: white;
}
